body {
  /* font-family: "Lato", sans-serif; */
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.container {
  display: grid;
  
  grid-template-columns: 1fr;
  background-color: white;
}

.nav-wrapper {
  display: flex;
}

.nav-left {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  background: white;
  padding: 5px;
  order: 1;
}

.nav-links :hover{
  columns: #333333;
  border-color: rgb(237, 250, 234);
  background: rgb(237, 250, 234)
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nav-logo { 
  display: flex;
}

.nav-link-wrapper {
  transition: border-bottom 0.5s;
  transition: ease-out;
  background-color: white; 
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 0.1rem;
}

.nav-link-wrapper a {
  text-decoration: none;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.0rem;
}

.nav-middle {
  display: flex;
  /* background: blue; */
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-grow: 1;
  order: 2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.good-type-title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #333;
}


.store-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 8em;
  margin: 20px;
  gap: 40px;
}

.store-item-wrapper {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  /* border: 3px solid black; */
  justify-content: center;
  align-items: center;
}

.store-item-wrapper img{
  /* background-color: blue; */
}

.item-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-name {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-wrapepr {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
}